.header{
	display:table;
	width:100%;
	height:auto;
	text-align:left;
	color:black;
	background-color:#000;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	color: white;
}
.text-right{
	text-align: right;
}
.heading-text{
	font-size: 122pt;
	padding-left: 50pt;
}
.text-center{
	text-align: center;
}

div {
	padding: 1pt 0 0 0;
	border: 0pt;
	margin: 0pt;
}

.hidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
